@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
    --amarelo-bebe: #FFFAC7;
    --verde-bebe: #E2FFC7;
}

h1{
    font-family: var(--Agbalumo);
    font-size: 2rem;
    width: 70%;
    text-align: center;
    margin: 20px auto;
}

h3{
    text-align: center;
}

main{
    min-height: calc(100vh - 170px);
}

.imagem{
    border-radius: 20px;
    margin-top: 10px;
}

.add{
    background-color: var(--azul-bebe);
    border: none;
    border-radius: 20px;
    font-family: var(--Nunito);
    font-weight: bolder;
    font-size: 1.30rem;
    width: 240px;
    height: 40px;
    margin: 20px 0;
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.c1{
    background-color: var(--amarelo-bebe);
    padding: 15px;
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.c3{
    width: 200px;
    display: flex;
    justify-content: center;
}

.imagem{   
    border-radius: 20px;
    width: 120px;
}

.conteiner1 button{
    width: 208px;
    background-color: var(--rosa-bebe);
    border: none;
    border-radius: 7px;
    font-family: var(--Agbalumo);
    width: 100px;
    height: 39px;
    font-size: 1.3rem;
}

.titulo{
    margin-top: 10px;
    font-family: var(--Nunito);
    font-size: 1.25rem;
    font-weight: bold;
}

.voltar{
    background-color: var(--azul-bebe);
    border: none;
    border-radius: 20px;
    font-family: var(--Nunito);
    font-weight: bolder;
    font-size: 1.60rem;
    width: 190px;
    height: 40px;
    margin-top: 20px;
}

.voltar a, a:visited, a:active{
    color: black;
    text-decoration: none;
}

@media (min-width: 768px) {
    .conteiner1{
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
    }
    .c1{
        margin: 29px;
        width: 520px;
    }
    h1{
        padding-top: 20px !important;
    }
    .botao #excl, #edit{
        font-size: 1.25rem;
    }
    .c3 img{
        width: 150px;
        height: 150px;
    }

    
}