@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
    --amarelo-bebe: #FFFAC7;
    --verde-bebe: #E2FFC7;
}

header h1{
    font-family: var(--Agbalumo);
    font-size: 2rem;
    width: 70%;
    text-align: center;
    margin: 20px auto;
}

.c1{
    background-color: var(--verde-bebe);
    padding: 15px;
    border-radius: 20px;
    margin: 20px 0;
}

.imagem{
    border-radius: 20px;
    margin-top: 10px;
}

.titulo{
    margin-top: 10px;
    font-family: var(--Nunito);
    font-size: 1.25rem;
    font-weight: bold;
}

.preco{
    margin: 50px 0 0 0;
}

.preco span{
    font-weight: bold;
}

.add{
    background-color: var(--rosa-bebe);
    border: none;
    border-radius: 20px;
    font-family: var(--Agbalumo);
    height: 40px;
    font-size: 1.30rem;
    width: 240px;
}

.voltar{
    background-color: var(--azul-bebe);
    border: none;
    border-radius: 20px;
    font-family: var(--Nunito);
    font-weight: bolder;
    font-size: 1.70rem;
    width: 190px;
    height: 40px;
    margin-top: 20px;
    color: black;
}

.voltar a, a:visited, a:active{
    color: black;
    text-decoration: none;
}

@media (min-width: 768px) {
    .imagem{
        width: 107px;
        height: 113px;
    }
    .conteiner1{
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
    }
    .c1{
        margin: 29px;
    }
    h1{
        padding-top: 20px !important;
    }
}