@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
    --amarelo-bebe: #FFFAC7;
    --verde-bebe: #E2FFC7;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 170px);
    font-family: var(--Nunito);
}

.conteiner1{
    background-color: var(--azul-bebe);
    border-radius: 20px;
}

button{
    width: 100px;
    margin: auto;
    border: none;
    height: 35px;
    background-color: var(--rosa-bebe);
    border-radius: 20px;
    font-family: var(--Agbalumo);
}

.c1{
    font-size: 1.10rem;
}

.c2 .imagem{
    border-radius: 20px;
}

.c5{
    display: none;
}

.c5 h3{
    font-size: 1.40rem;
    padding-left: 10px;
    align-self: center;
    font-weight: bolder;
}

.c3 {
    margin: 10px 0;
}

.c4 button{
    width: 160px;
    margin: 16px 0;
}

#exclP{
    width: 160px;
}

form{
    display: none;
}
.exibir{
    display: flex !important;
    flex-direction: column;
    margin: auto;
}
form input{
    padding-left: 4px;
}

button[type=submit]{
    margin: 10px;
}

.botao p{
    font-size: 1.10rem;
}

.exibirP{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .conteiner1{
        width: 50% !important;
        display: flex;
        justify-content: center !important;
        flex-direction: column;
        align-items: center !important;
        
    }
    .conteiner1 img{
        width: 200px;
        height: auto;
        margin: 30px;
    }
    .c1{
        font-size: 1.50rem;
        width: 65%;
    }
    button{
        width: 130px;
        height: 45px;
        font-size: 1.50rem;
    }
    
    .c3 {
        margin: 10px 0;
    }

    .c4 button{
        width: 200px;
    }

    .c5 {
        margin: 50px 0;
        width: 65%;
    }

    .c5 .imagem{
        width: 160px;
        margin: 0 !important;
    }

    .c5 .pedidoN{
        font-size: 1.40rem;
        align-self: center;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    .c5 .c2 .titulo2{
        font-size: 1.7rem;
        margin: 0;
    }

    .botao p{
        font-size: 1.60rem;
    }

    #exclP{
        width: 200px;
    }

    form{
        width: 70%;
    }
}